
<div class="mainWrap">

  <!--  date inputs  -->

  <div class="dateInputsWrap">
    <div class="dateInput">
      <div class="calendal">
        <img src="assets/images/calendar.png" alt="alt">
      </div>
      <input type="text" placeholder="25/06/2019">
    </div>
    <div class="sep">—</div>
    <div class="dateInput">
      <div class="calendal">
        <img src="assets/images/calendar.png" alt="alt">
      </div>
      <input type="text" placeholder="25/06/2019">
    </div>
  </div>

  <!--  /date inputs  -->

  <!--  processed  -->

  <app-processed></app-processed>

  <!--  /processed  -->

  <!--  main tabs  -->

  <div class="mainTabs">

    <div class="tab">
      <div class="tabHeader">
        <div class="imgHolder">
          <img src="assets/images/tabImg3.png" alt="alt">
        </div>
        <div class="text">Рейтинг</div>
      </div>

      <div class="num">5<sup>+2</sup></div>

      <div class="desc">Изменения статистики</div>
    </div>

    <div class="tab activeTab">
      <div class="tabHeader">
        <div class="imgHolder">
          <img src="assets/images/tabImg2.png" alt="alt">
        </div>
        <div class="text">Статистика станции</div>
      </div>

      <div class="num">2,5%</div>

      <div class="desc">Изменения в рейтинге</div>
    </div>

    <div class="tab">
      <div class="tabHeader">
        <div class="imgHolder">
          <img src="assets/images/video.png" alt="alt">
        </div>
        <div class="text">Не просмотренные видео</div>
      </div>

      <div class="num">399</div>

      <div class="desc">Новых видео</div>
    </div>

    <div class="tab">
      <div class="tabHeader">
        <div class="imgHolder">
          <img src="assets/images/tabImg4.png" alt="alt">
        </div>
        <div class="text">Чеклист</div>
      </div>

      <div class="num">
        <img src="assets/images/Report.png" alt="alt">
      </div>

      <div class="desc">Есть изменеия в чеклисте</div>
    </div>
  </div>

  <!--  /main tabs  -->

  <!--  inner tab  -->

  <div class="innerTab innerTab2">

    <div class="multiTabsWrap">
      <div class="multiTab">
        <div class="top">
          <img src="assets/images/multiIco1.png" alt="alt">
          <div class="text">Общий KPI</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 95%"></div>
        </div>

        <div class="numsWrap">
          <img src="assets/images/redArrow.png" alt="alt">
          <div class="num">95%</div>
        </div>
      </div>
      <div class="multiTab multiTabActive">
        <div class="top">
          <img src="assets/images/multiIco2.png" alt="alt">
          <div class="text">UHOT</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 95%"></div>
        </div>

        <div class="numsWrap">
          <img src="assets/images/redArrow.png" alt="alt">
          <div class="num">95%</div>
        </div>
      </div>
      <div class="multiTab">
        <div class="top">
          <img src="assets/images/multiIco3.png" alt="alt">
          <div class="text">Безопасность</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 95%"></div>
        </div>

        <div class="numsWrap">
          <img src="assets/images/greenArrow.png" alt="alt">
          <div class="num">95%</div>
        </div>
      </div>
      <div class="multiTab">
        <div class="top">
          <img src="assets/images/multiIco4.png" alt="alt">
          <div class="text">TLAG</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 100%"></div>
        </div>

        <div class="numsWrap">
          <div class="num">100%</div>
        </div>
      </div>
      <div class="multiTab">
        <div class="top">
          <img src="assets/images/multiIco5.png" alt="alt">
          <div class="text">мошенничество с картой лояльности</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 100%"></div>
        </div>

        <div class="numsWrap">
          <div class="num">100%</div>
        </div>
      </div>
      <div class="multiTab">
        <div class="top">
          <img src="assets/images/multiIco6.png" alt="alt">
          <div class="text">Ночная процедура</div>
        </div>

        <div class="progressBar">
          <div class="progress" style="width: 100%"></div>
        </div>

        <div class="numsWrap">
          <div class="num">100%</div>
        </div>
      </div>
    </div>

    <div class="multiInner territorial2Inner">
      <div class="tableWrap">
        <div class="head">
          <div class="name"><img src="assets/images/arrowLeft.png" alt="alt">UHOT</div>

          <div class="filtersWrap">
            <div class="filter">
              <div class="value">Заправщик</div>
              <img src="assets/images/filterArrow.png" alt="alt">
            </div>
          </div>
        </div>

        <table>
          <tr>
            <td>Установка визуального контакта</td>
            <td>95%</td>
            <td>
              <img src="assets/images/greenCurve.png" alt="alt">
            </td>
          </tr>
          <tr>
            <td>Приветствие клиента</td>
            <td>95%</td>
            <td>
              <img src="assets/images/greenCurve.png" alt="alt">
            </td>
          </tr>
          <tr>
            <td>Федеральная акция</td>
            <td class="red">43%</td>
            <td>
              <img src="assets/images/redCurve.png" alt="alt">
            </td>
          </tr>
          <tr>
            <td>Озвучить клиенту вид топлива, количество литров</td>
            <td>95%</td>
            <td>
              <img src="assets/images/greenCurve.png" alt="alt">
            </td>
          </tr>
          <tr>
            <td>Предложить сопутствующий товар (кофе, закуски и т.д.)</td>
            <td class="blue">78%</td>
            <td>
              <img src="assets/images/blueCurve.png" alt="alt">
            </td>
          </tr>
          <tr>
            <td>Приветствие клиента</td>
            <td>95%</td>
            <td>
              <img src="assets/images/greenCurve.png" alt="alt">
            </td>
          </tr>
        </table>

        <div class="curveWrap">
          <div class="title">График</div>
          <img src="assets/images/bigCurve.png" alt="alt">
          <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed metus lacinia, molestie felis sit amet, tristique nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tellus gravida massa condimentum, sit amet elementum orci dapibus.</div>
        </div>
      </div>

      <div class="tableWrap">
        <div class="head">
          <div class="name"><img src="assets/images/arrowLeft.png" alt="alt">Ритейлеры</div>
          <div class="filtersWrap">
            <div class="filter">
              <div class="value">KPI</div>
              <img src="assets/images/filterArrow.png" alt="alt">
            </div>
            <div class="filter">
              <div class="value">Оператор</div>
              <img src="assets/images/filterArrow.png" alt="alt">
            </div>
          </div>
        </div>

        <table>
          <tr>
            <td>MARIY NAFTA</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>MARIY NAFTA</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>MARIY NAFTA</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>MARIY NAFTA</td>
            <td>
              <div class="perc red">43%
                <div class="sup red">-4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>MARIY NAFTA</td>
            <td>
              <div class="perc red">43%
                <div class="sup red">-4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>MARIY NAFTA</td>
            <td>
              <div class="perc red">40%
                <div class="sup red">-4%</div>
              </div>
            </td>
          </tr>
        </table>

      </div>


    </div>

  </div>

  <!--  /inner tab  -->

</div>
