
.dateInputsWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  color: #808a92;
  margin-bottom: 29px; }
.dateInputsWrap .sep {
  font-size: 14px;
  margin: 0 10px; }
.dateInputsWrap .dateInput {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
.dateInputsWrap .dateInput .calendal {
  position: relative;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #e4eaec; }
.dateInputsWrap .dateInput .calendal img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.dateInputsWrap .dateInput input {
  height: 40px;
  width: 112px;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0 14px; }

::ng-deep body .ui-inputtext{
  display: block;
  outline: none;
  border: none;
  background: #ffffff;

  height: 40px;
  width: 112px;
  border-radius: 0 4px 4px 0;
  padding: 0 14px;

  color: #808a92;
  font: inherit;
}
