<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="dateInputsWrap">

    <div class="dateInput">
      <div class="calendal">
        <img src="assets/images/calendar.png" alt="alt">
      </div>
      <p-calendar formControlName="dateFrom" dateFormat="dd/mm/yy" placeholder="25/06/2019"></p-calendar> <!--(onSelect)="getData($event)"-->
    </div>
    <div class="sep">—</div>
    <div class="dateInput">
      <div class="calendal">
        <img src="assets/images/calendar.png" alt="alt">
      </div>
      <p-calendar formControlName="dateTo" dateFormat="dd/mm/yy" placeholder="25/06/2019"></p-calendar>
    </div>

  </div>
</form>
