.mainWrap {
  width: -webkit-calc(100% - 290px);
  width: calc(100% - 290px);
  margin-left: 290px;
  padding-right: 30px;
  padding-top: 31px; }

.innerTab {
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 30px; }

.innerTab {
  padding: 39px 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.innerTab .tableWrap {
  width: 49%; }
.innerTab .tableWrap .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 39px; }
.innerTab .tableWrap .head .name {
  text-transform: uppercase;
  color: #474e54;
  letter-spacing: 1px;
  font-size: 14px; }
.innerTab .tableWrap table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  color: #37474f;
  font-size: 14px; }
.innerTab .tableWrap table tr {
  border-top: 1px solid #e9eaeb;
  border-bottom: 1px solid #e9eaeb; }
.innerTab .tableWrap table tr:nth-child(odd) {
  background: #f3f7f9; }
.innerTab .tableWrap table tr td {
  padding: 20px 0; }
.innerTab .tableWrap table tr td:nth-child(1) {
  width: 8%;
  text-align: center; }
.innerTab .tableWrap table tr td:nth-child(2) {
  width: 2%;
  text-align: center; }
.innerTab .tableWrap table tr td:nth-child(2) img {
  margin: auto; }
.innerTab .tableWrap table tr td:nth-child(3) {
  width: 13%;
  text-align: center; }
.innerTab .tableWrap table tr td:nth-child(4) {
  width: 65%; }
.innerTab .tableWrap table tr td:nth-child(5) {
  width: 12%; }
.innerTab .tableWrap table tr td:nth-child(5) .perc {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
.innerTab .tableWrap table tr td:nth-child(5) .perc .sup {
  position: absolute;
  top: -7px;
  right: -30px;
  font-size: 14px; }
.innerTab .tableWrap table tr td:nth-child(5) .perc .red {
  color: #e41b13; }
.innerTab .tableWrap table tr td:nth-child(5) .perc .green {
  color: #46be8a; }
.innerTab .tableWrap table tr td:nth-child(5) .red {
  color: #e41b13; }
.innerTab .plateWrap {
  width: 49%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.innerTab .plateWrap .plate {
  border: 2px solid #fed300;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 164px;
  width: 45.8%; }
.innerTab .plateWrap .plate .center {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 48px auto 13px auto;
  font-size: 60px;
  color: #37474f;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1; }
.innerTab .plateWrap .plate .center .plus {
  position: absolute;
  top: 6px;
  right: -35px;
  font-size: 24px;
  color: #46be8a;
  font-weight: 500; }
.innerTab .plateWrap .plate .bottom {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #a3afb7;
  line-height: 1; }


/*

INNER TAB FILTERS

*/
.filtersWrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.filtersWrap .filter {
  margin-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 142px;
  height: 40px;
  background: #e4eaec;
  padding: 0 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #808a92;
  z-index: 10;
  position: relative; }
.filtersWrap .filter:last-child {
  margin-right: 0; }


/*

VIDEO TAB

*/
.innerTab1 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.innerTab1 .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 39px;
  width: 100%; }
.innerTab1 .head .videoTabsWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-calc(100% - 344px);
  width: calc(100% - 344px);
  border-bottom: 1px solid #e9eaeb; }
.innerTab1 .head .videoTabsWrap .videoTab {
  width: 180px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #37474f; }
.innerTab1 .head .videoTabsWrap .active {
  background: #fed300; }
.innerTab1 .singleVideo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  padding: 30px 0 30px 30px; }
.innerTab1 .videos:nth-child(even) {
  background: #f3f7f9;
  border-top: 1px solid #e9eaeb;
  border-bottom: 1px solid #e9eaeb; }
.videos {
  width: 100%;}
.innerTab1 .singleVideo .videoWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 47.5%; }
.innerTab1 .singleVideo .videoWrap .videoHolder {
  width: 48%;
  margin-right: 4%; }
.innerTab1 .singleVideo .videoWrap .videoHolder img {
  width: 100%;
  height: auto; }
.innerTab1 .singleVideo .videoWrap .videoHolder:last-child {
  margin-right: 0; }
.innerTab1 .singleVideo .info {
  width: 52.5%;
  padding: 0 30px; }
.innerTab1 .singleVideo .info .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #e9eaeb; }
.innerTab1 .singleVideo .info .top .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #37474f; }
.innerTab1 .singleVideo .info .top .text .name {
  color: #808a92;
  padding-left: 18px; }
.innerTab1 .singleVideo .info .top .favorite {
  cursor: pointer; }
.innerTab1 .singleVideo .info .bottom {
  padding-top: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400; }
.innerTab1 .singleVideo .info .bottom .column {
  margin-right: 60px;
  width: 40%; }
.innerTab1 .singleVideo .info .bottom .column .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px; }
.innerTab1 .singleVideo .info .bottom .column .item .text {
  color: #808a92; }
.innerTab1 .singleVideo .info .bottom .column:last-child {
  margin-right: 0; }
.innerTab1 .paginator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-top: 1px solid #e9eaeb;
  padding: 30px 0 30px 30px;
  width: 100%; }
.innerTab1 .paginator button {
  width: 33px;
  height: 33px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e4eaec;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #76838f;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-right: 10px; }
.innerTab1 .paginator button:last-child {
  margin-right: 0; }
.innerTab1 .paginator button:hover {
  background: #37474f;
  color: #ffffff; }
.innerTab1 .paginator .active {
  background: #37474f;
  color: #ffffff; }

.filterDrop{
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  padding: 6px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
  width: 200px; }
.filterDrop .item{
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #808a92;
  padding-left: 9px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;}
.filterDrop .item:hover{
  background: #f2f5f7;}
.filters{
  position: absolute;
  top: 50px;
  left: 0px;}
.filtersKpi{
  position: absolute;
  top: 50px;
  right: -30px;}
.line{
  height: 1px;
  width: -webkit-calc(100% + 12px);
  width: calc(100% + 12px);
  margin: 6px 0 6px -6px;
  background: #eceded;}

/*
::ng-deep ngb-pagination .page-item.active .page-link {
  background-color: #37474f;
  color: #ffffff;
  border-color: #fff;}
::ng-deep ngb-pagination .page-link:hover {
  background-color: #37474f;
  color: #ffffff;}
::ng-deep ngb-pagination .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  outline: none;
  color: #76838f;
  border-radius: 4px;}
::ng-deep ngb-pagination .page-item:last-child .page-link {
  margin-right: 0;
  margin-left: 0;}*/
