<div class="mainWrap">

  <!--  date inputs  -->
  <div class="dateInputsWrap">

    <div class="dateInput">
      <div class="calendal">
        <img src="assets/images/calendar.png" alt="alt">
      </div>
      <p-calendar [(ngModel)]="dateFrom" dateFormat="dd.mm.yy" placeholder="25/06/2019" (click)="getData()"></p-calendar> <!--(onSelect)="getData($event)"-->
    </div>
    <div class="sep">—</div>
    <div class="dateInput">
      <div class="calendal">
        <img src="assets/images/calendar.png" alt="alt">
      </div>
      <p-calendar [(ngModel)]="dateTo" (click)="getData()"  placeholder="25/06/2019" ></p-calendar>
    </div>

  </div>
  <!--  /date inputs  -->

  <!--  processed  -->

  <app-processed></app-processed>

  <!--  /processed  -->

  <!--  main tabs  -->

  <app-main-tabs></app-main-tabs>

  <!--  /main tabs  -->

  <!--  inner tab  -->

  <div class="innerTab innerTab1">

    <div class="head">
      <div class="videoTabsWrap">
        <div class="videoTab active">Новые</div>
        <div class="videoTab">ПРОСМОТРЕНЫЕ</div>
        <div class="videoTab">Избранное</div>
      </div>
      <div class="filtersWrap">
        <div class="filter">
          <div class="value">Фильтр</div>
          <img src="assets/images/filterArrow.png" alt="alt">
        </div>
        <div class="filter">
          <div class="value">KPI</div>
          <img src="assets/images/filterArrow.png" alt="alt">
        </div>
      </div>
    </div>

    <div class="singleVideo">
      <div class="videoWrap">
        <div class="videoHolder">
          <img src="assets/images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
          <img src="assets/images/videoPreview.png" alt="alt">
        </div>
      </div>

      <div class="info">
        <div class="top">
          <div class="text">
            <div class="date">10.07.2019</div>
            <div class="name">Оператор Камера 2</div>
          </div>

          <div class="favorite">
            <img src="assets/images/star.png" alt="alt">
          </div>
        </div>

        <div class="bottom">
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
          </div>
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="singleVideo">
      <div class="videoWrap">
        <div class="videoHolder">
          <img src="assets/images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
          <img src="assets/images/videoPreview.png" alt="alt">
        </div>
      </div>

      <div class="info">
        <div class="top">
          <div class="text">
            <div class="date">10.07.2019</div>
            <div class="name">Оператор Камера 2</div>
          </div>

          <div class="favorite">
            <img src="assets/images/star.png" alt="alt">
          </div>
        </div>

        <div class="bottom">
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
          </div>
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="singleVideo">
      <div class="videoWrap">
        <div class="videoHolder">
          <img src="assets/images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
          <img src="assets/images/videoPreview.png" alt="alt">
        </div>
      </div>

      <div class="info">
        <div class="top">
          <div class="text">
            <div class="date">10.07.2019</div>
            <div class="name">Оператор Камера 2</div>
          </div>

          <div class="favorite">
            <img src="assets/images/star.png" alt="alt">
          </div>
        </div>

        <div class="bottom">
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
          </div>
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="singleVideo">
      <div class="videoWrap">
        <div class="videoHolder">
          <img src="assets/images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
          <img src="assets/images/videoPreview.png" alt="alt">
        </div>
      </div>

      <div class="info">
        <div class="top">
          <div class="text">
            <div class="date">10.07.2019</div>
            <div class="name">Оператор Камера 2</div>
          </div>

          <div class="favorite">
            <img src="assets/images/star.png" alt="alt">
          </div>
        </div>

        <div class="bottom">
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
          </div>
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="assets/images/Message.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="paginator">
      <button><</button>
      <button class="active">1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
      <button>></button>
    </div>

  </div>

  <!--  /inner tab  -->

</div>
