<div class="mainWrap">

  <!--  date inputs  -->

  <div class="dateInputsWrap">
    <div class="dateInput">
      <div class="calendal">
        <img src="images/calendar.png" alt="alt">
      </div>
      <input type="text" placeholder="25/06/2019">
    </div>
    <div class="sep">—</div>
    <div class="dateInput">
      <div class="calendal">
        <img src="images/calendar.png" alt="alt">
      </div>
      <input type="text" placeholder="25/06/2019">
    </div>
  </div>

  <!--  /date inputs  -->

  <!--  processed  -->

  <div class="processedWrap">
    <img src="images/close.png" alt="aclt" class="close">
    <img src="images/Report.png" alt="alt" class="decor">
    <div class="text">Обработано 100% документов до <span>03.07.2019</span></div>
  </div>

  <!--  /processed  -->

  <!--  main tabs  -->

  <div class="mainTabs">

    <div class="tab activeTab">
      <div class="tabHeader">
        <div class="imgHolder">
          <img src="images/video.png" alt="alt">
        </div>
        <div class="text">Не просмотренные видео</div>
      </div>

      <div class="num">399</div>

      <div class="desc">Новых видео</div>
    </div>

    <div class="tab">
      <div class="tabHeader">
        <div class="imgHolder">
          <img src="images/tabImg2.png" alt="alt">
        </div>
        <div class="text">Статистика станции</div>
      </div>

      <div class="num">2,5%</div>

      <div class="desc">Изменения в рейтинге</div>
    </div>

    <div class="tab">
      <div class="tabHeader">
        <div class="imgHolder">
          <img src="images/tabImg3.png" alt="alt">
        </div>
        <div class="text">Рейтинг</div>
      </div>

      <div class="num">5<sup>+2</sup></div>

      <div class="desc">Изменения статистики</div>
    </div>

    <div class="tab">
      <div class="tabHeader">
        <div class="imgHolder">
          <img src="images/tabImg4.png" alt="alt">
        </div>
        <div class="text">Чеклист</div>
      </div>

      <div class="num">
        <img src="images/Report.png" alt="alt">
      </div>

      <div class="desc">Есть изменеия в чеклисте</div>
    </div>
  </div>

  <!--  /main tabs  -->

  <!--  inner tab  -->

  <div class="innerTab innerTab1">

    <div class="head">
      <div class="videoTabsWrap">
        <div class="videoTab active">Новые</div>
        <div class="videoTab">ПРОСМОТРЕНЫЕ</div>
        <div class="videoTab">Избранное</div>
      </div>
      <div class="filtersWrap">
        <div class="filter">
          <div class="value">Фильтр</div>
          <img src="images/filterArrow.png" alt="alt">
        </div>
        <div class="filter">
          <div class="value">KPI</div>
          <img src="images/filterArrow.png" alt="alt">
        </div>
      </div>
    </div>

    <div class="singleVideo">
      <div class="videoWrap">
        <div class="videoHolder">
          <img src="images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
          <img src="images/videoPreview.png" alt="alt">
        </div>
      </div>

      <div class="info">
        <div class="top">
          <div class="text">
            <div class="date">10.07.2019</div>
            <div class="name">Оператор Камера 2</div>
          </div>

          <div class="favorite">
            <img src="images/star.png" alt="alt">
          </div>
        </div>

        <div class="bottom">
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="images/Message.png" alt="alt">
            </div>
          </div>
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="images/Message.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="singleVideo">
      <div class="videoWrap">
        <div class="videoHolder">
          <img src="images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
          <img src="images/videoPreview.png" alt="alt">
        </div>
      </div>

      <div class="info">
        <div class="top">
          <div class="text">
            <div class="date">10.07.2019</div>
            <div class="name">Оператор Камера 2</div>
          </div>

          <div class="favorite">
            <img src="images/star.png" alt="alt">
          </div>
        </div>

        <div class="bottom">
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="images/Message.png" alt="alt">
            </div>
          </div>
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="images/Message.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="singleVideo">
      <div class="videoWrap">
        <div class="videoHolder">
          <img src="images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
          <img src="images/videoPreview.png" alt="alt">
        </div>
      </div>

      <div class="info">
        <div class="top">
          <div class="text">
            <div class="date">10.07.2019</div>
            <div class="name">Оператор Камера 2</div>
          </div>

          <div class="favorite">
            <img src="images/star.png" alt="alt">
          </div>
        </div>

        <div class="bottom">
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="images/Message.png" alt="alt">
            </div>
          </div>
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="images/Message.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="singleVideo">
      <div class="videoWrap">
        <div class="videoHolder">
          <img src="images/videoPreview.png" alt="alt">
        </div>
        <div class="videoHolder">
          <img src="images/videoPreview.png" alt="alt">
        </div>
      </div>

      <div class="info">
        <div class="top">
          <div class="text">
            <div class="date">10.07.2019</div>
            <div class="name">Оператор Камера 2</div>
          </div>

          <div class="favorite">
            <img src="images/star.png" alt="alt">
          </div>
        </div>

        <div class="bottom">
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="images/Message.png" alt="alt">
            </div>
          </div>
          <div class="column">
            <div class="item">
              <div class="text">Приветствие клиента</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Предложить карту лояльности</div>
              <img src="images/Message.png" alt="alt">
            </div>
            <div class="item">
              <div class="text">Региональная акция</div>
              <img src="images/Message.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="paginator">
      <button><</button>
      <button class="active">1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
      <button>></button>
    </div>

  </div>

  <!--  /inner tab  -->

</div>
