
<div class="mainWrap">

  <!--  date inputs  -->

  <div class="dateInputsWrap">
    <div class="dateInput">
      <div class="calendal">
        <img src="assets/images/calendar.png" alt="alt">
      </div>
      <input type="text" placeholder="25/06/2019">
    </div>
    <div class="sep">—</div>
    <div class="dateInput">
      <div class="calendal">
        <img src="assets/images/calendar.png" alt="alt">
      </div>
      <input type="text" placeholder="25/06/2019">
    </div>
  </div>

  <!--  /date inputs  -->

  <!--  processed  -->

  <app-processed></app-processed>

  <!--  /processed  -->

  <!--  main tabs  -->

  <app-main-tabs></app-main-tabs>

  <!--  /main tabs  -->

  <!--  inner tab  -->

  <div class="innerTab innerTab2 top2InnerTabs">

    <div class="filtersWrap">
      <div class="filter">
        <div class="value">Чеклист</div>
        <img src="assets/images/filterArrow.png" alt="alt">
      </div>
      <div class="filter">
        <div class="value">KPI</div>
        <img src="assets/images/filterArrow.png" alt="alt">
      </div>
    </div>

    <div class="tables3InRow">

      <div class="allTablesWrap">
        <div class="tableNameAll">TOP 3 тер.менеджеров</div>

        <table class="tableTypes tableTypeA">
          <tr>
            <td>1</td>
            <td>Иконникова Елена</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Иконникова Елена</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Иконникова Елена</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="allTablesWrap">
        <div class="tableNameAll">TOP 5 ритейлеров</div>

        <table class="tableTypes tableTypeA">
          <tr>
            <td>1</td>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="allTablesWrap">
        <div class="tableNameAll">TOP 5 станций</div>

        <table class="tableTypes tableTypeB">
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>

    <div class="tables3InRow">

      <div class="allTablesWrap">
        <div class="tableNameAll">bottom 3 тер.менеджеров</div>

        <table class="tableTypes tableTypeA">
          <tr>
            <td>1</td>
            <td>Иконникова Елена</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Иконникова Елена</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Иконникова Елена</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="allTablesWrap">
        <div class="tableNameAll">bottom 5 ритейлеров</div>

        <table class="tableTypes tableTypeA">
          <tr>
            <td>1</td>
            <td>ETALON</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>ETALON</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>ETALON</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>ETALON</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>ETALON</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="allTablesWrap">
        <div class="tableNameAll">bottom 5 станций</div>

        <table class="tableTypes tableTypeB">
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>33086</td>
            <td>VOLCHANSKAYA</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>

    <div class="decorLine"></div>

    <div class="tables2InRow">
      <div class="allTablesWrap">
        <div class="tableNameAll withoutFilter">
          <div class="nameWrap">
            <img src="assets/images/arrowLeft.png" alt="alt">
            <div class="text">Территориальный менеджер</div>
          </div>
        </div>

        <table class="tableTypes tableTypeC">
          <tr>
            <td>1</td>
            <td>
              <div class="graf">
                <img src="assets/images/greenArrow.png" alt="alt">
                <div class="num">8</div>
              </div>
            </td>
            <td>Иконникова Елена</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <div class="graf">
                <img src="assets/images/greenArrow.png" alt="alt">
                <div class="num">8</div>
              </div>
            </td>
            <td>Иконникова Елена</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <div class="graf">
                <div class="num">8</div>
                <img src="assets/images/redArrow.png" alt="alt">
              </div>
            </td>
            <td>Иконникова Елена</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <div class="graf">
                <div class="num">8</div>
                <img src="assets/images/redArrow.png" alt="alt">
              </div>
            </td>
            <td>Иконникова Елена</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="allTablesWrap">
        <div class="tableNameAll withFilter">
          <div class="nameWrap">
            <img src="assets/images/arrowLeft.png" alt="alt">
            <div class="text">Ритейлеры</div>
          </div>

          <div class="filtersWrap">
            <div class="filter">
              <div class="value">KPI</div>
              <img src="assets/images/filterArrow.png" alt="alt">
            </div>
            <div class="filter">
              <div class="value">Оператор</div>
              <img src="assets/images/filterArrow.png" alt="alt">
            </div>
          </div>
        </div>

        <table class="tableTypes tableTypeD">
          <tr>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>ETALON</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>ETALON</td>
            <td class="red">
              <div class="perc">95%
                <div class="sup">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <!--  /inner tab  -->

</div>
