
<div class="mainWrap">

  <!--  date inputs  -->

  <app-date-inputs></app-date-inputs>

  <!--  /date inputs  -->

  <!--  processed  -->

  <app-processed></app-processed>

  <!--  /processed  -->

  <!--  main tabs  -->

  <app-main-tabs></app-main-tabs>

  <!--  /main tabs  -->

  <!--  inner tab  -->

  <div class="innerTab innerTab2 top2InnerTabs">

    <div class="filtersWrap">
      <div class="filter">
        <div class="value">Чеклист</div>
        <img src="assets/images/filterArrow.png" alt="alt">
      </div>
      <div class="filter">
        <div class="value">KPI</div>
        <img src="assets/images/filterArrow.png" alt="alt">
      </div>
    </div>

    <div class="tables3InRow">

      <div class="allTablesWrap">
        <div class="tableNameAll">TOP 3 тер. менеджеров</div>

        <table class="tableTypes tableTypeA">
          <tr *ngFor="let item of topManagers">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
              <div class="perc">{{item.percent}}%
                <div [ngClass]="{'green': item.up, 'red': !item.up}" class="sup"><span *ngIf="item.up">+</span>{{item.supPercent}}%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="allTablesWrap">
        <div class="tableNameAll">TOP 5 ритейлеров</div>
        <table class="tableTypes tableTypeA">
          <tr *ngFor="let item of topRetailers">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
              <div class="perc">{{item.percent}}%
                <div [ngClass]="{'green': item.up, 'red': !item.up}" class="sup"><span *ngIf="item.up">+</span>{{item.supPercent}}%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="allTablesWrap">
        <div class="tableNameAll">TOP 5 станций</div>
        <table class="tableTypes tableTypeB">
          <tr *ngFor="let item of topStations">
            <td>{{item.id}}</td>
            <td>{{item.num}}</td>
            <td>{{item.name}}</td>
            <td>
              <div class="perc">{{item.percent}}%
                <div [ngClass]="{'green': item.up, 'red': !item.up}" class="sup"><span *ngIf="item.up">+</span>{{item.supPercent}}%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>

    <div class="tables3InRow">

      <div class="allTablesWrap">
        <div class="tableNameAll">bottom 3 тер.менеджеров</div>

        <table class="tableTypes tableTypeA">
          <tr *ngFor="let item of bottomManagers">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
              <div class="perc">{{item.percent}}%
                <div [ngClass]="{'green': item.up, 'red': !item.up}" class="sup"><span *ngIf="item.up">+</span>{{item.supPercent}}%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="allTablesWrap">
        <div class="tableNameAll">bottom 5 ритейлеров</div>

        <table class="tableTypes tableTypeA">
          <tr *ngFor="let item of bottomRetailers">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
              <div class="perc">{{item.percent}}%
                <div [ngClass]="{'green': item.up, 'red': !item.up}" class="sup"><span *ngIf="item.up">+</span>{{item.supPercent}}%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="allTablesWrap">
        <div class="tableNameAll">bottom 5 станций</div>

        <table class="tableTypes tableTypeB">
          <tr *ngFor="let item of bottomStations">
            <td>{{item.id}}</td>
            <td>{{item.num}}</td>
            <td>{{item.name}}</td>
            <td>
              <div class="perc">{{item.percent}}%
                <div [ngClass]="{'green': item.up, 'red': !item.up}" class="sup"><span *ngIf="item.up">+</span>{{item.supPercent}}%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>

    <div class="decorLine"></div>

    <div class="tables2InRow">
      <div class="allTablesWrap">
        <div class="tableNameAll withoutFilter">
          <div class="nameWrap">
            <img src="assets/images/arrowLeft.png" alt="alt">
            <div class="text">Территориальный менеджер</div>
          </div>
        </div>

        <table class="tableTypes tableTypeC">
          <tr>
            <td>1</td>
            <td>
              <div class="graf">
                <img src="assets/images/greenArrow.png" alt="alt">
                <div class="num">8</div>
              </div>
            </td>
            <td>Иконникова Елена</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="allTablesWrap">
        <div class="tableNameAll withFilter">
          <div class="nameWrap">
            <img src="assets/images/arrowLeft.png" alt="alt">
            <div class="text">Ритейлеры</div>
          </div>

          <div class="filtersWrap">
            <div class="filter">
              <div class="value">KPI</div>
              <img src="assets/images/filterArrow.png" alt="alt">
            </div>
            <div class="filter">
              <div class="value">Оператор</div>
              <img src="assets/images/filterArrow.png" alt="alt">
            </div>
          </div>
        </div>

        <table class="tableTypes tableTypeD">
          <tr>
            <td>ETALON</td>
            <td>
              <div class="perc">95%
                <div class="sup green">+4%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <!--  /inner tab  -->

</div>
