
<div class="mainWrap">

  <!--  date inputs  -->

  <app-date-inputs></app-date-inputs>

  <!--  /date inputs  -->

  <!--  processed  -->

  <app-processed></app-processed>

  <!--  /processed  -->

  <!--  main tabs  -->

  <app-main-tabs></app-main-tabs>

  <!--  /main tabs  -->

  <!--  inner tab  -->

  <div class="innerTab innerTab3">
    <div class="tableWrap">

      <div class="head">
        <div class="name">Статистика станций</div>
        <div class="filtersWrap">
          <div class="filter">
            <div class="value">KPI</div>
            <img src="assets/images/filterArrow.png" alt="alt">
          </div>
          <div class="filter">
            <div class="value">Оператор</div>
            <img src="assets/images/filterArrow.png" alt="alt">
          </div>
        </div>
      </div>

      <table>
        <tr *ngFor="let item of stationStatistics">
          <td class="id">{{item.id}}</td>
          <td>
            <div class="graf">
              <img *ngIf="item.up" src="assets/images/greenArrow.png" alt="alt">
              <div class="num">{{item.num}}</div>
              <img *ngIf="!item.up"  src="assets/images/redArrow.png" alt="alt">
            </div>
          </td>
          <td>{{item.stationNum}}</td>
          <td>{{item.name}}</td>
          <td>
            <div class="perc">{{item.percent}}%
              <div [ngClass]="{'green': item.up, 'red': !item.up}" class="sup"><span *ngIf="item.up">+</span>{{item.supPercent}}%</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="plateWrap">
      <div class="plate">
        <div class="center">5 <div class="plus">+2</div></div>
        <div class="bottom">место</div>
      </div>
      <div class="plate">
        <div class="center">1,5%</div>
        <div class="bottom">динамика</div>
      </div>
    </div>
  </div>

  <!--  /inner tab  -->

</div>
