/*	vars  */
/* fonts */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul, p {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  background: #f1f4f5;
  margin: 0px; }

button,
input,
textarea {
  display: block;
  outline: none;
  border: none;
  background: #ffffff; }

img, a {
  display: block; }

.clearFix {
  clear: both; }

 /*ngb-pagination*/
ngb-pagination .page-item.active .page-link {
  background-color: #37474f;
  color: #ffffff;
  border-color: #fff; }
ngb-pagination .page-link:hover {
  background-color: #37474f;
  color: #ffffff; }
ngb-pagination .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  outline: none;
  color: #76838f;
  border-radius: 4px; }
ngb-pagination .page-item:last-child .page-link {
  margin-right: 0;
  margin-left: 0; }
  /*ngb-pagination*/

.text{
  line-height: 14px; }
.desc{
  line-height: 16px; }
