
<div class="mainWrap">

  <!--  date inputs  -->

  <!--  date inputs  -->

  <app-date-inputs></app-date-inputs>

  <!--  /date inputs  -->

  <!--  processed  -->

  <app-processed></app-processed>

  <!--  /processed  -->

  <!--  main tabs  -->

  <app-main-tabs></app-main-tabs>

  <!--  /main tabs  -->

  <!--  inner tab  -->

  <div class="innerTab innerTab2 top1InnerTabs">
    <div class="head headTop1">
      <div class="videoTabsWrap">
        <div class="videoTab" *ngFor="let item of tabMenu; let i = index" (click)="tabSet(i)" [ngClass]="pageTab === i  ? 'active' : 'nonACtive'">
          {{item.name}}
        </div>
      </div>
    </div>

    <div [ngSwitch]="pageTab">
      <ng-template ngSwitchCase="0">
        <div class="multiTabsWrap">
          <div [ngClass]="{'multiTabActive': item.active}" class="multiTab" *ngFor="let item of multiTabs">
            <div class="top">
              <img [src]="item.icon" alt="alt">
              <div class="text">{{item.title}}</div>
            </div>

            <div class="progressBar">
              <ngb-progressbar height="2px" type="success" [value]="item.percent"></ngb-progressbar>
            </div>

            <div class="numsWrap">
              <img *ngIf="item.arrow" src="assets/images/greenArrow.png" alt="alt">
              <img *ngIf="!item.arrow" src="assets/images/redArrow.png" alt="alt">
              <div class="num">{{item.percent}}%</div>
            </div>
          </div>
        </div>

        <div class="multiInner territorial2Inner">
          <div class="tableWrap">
            <div class="head">
              <div class="name"><img src="assets/images/arrowLeft.png" alt="alt">UHOT</div>

              <div class="filtersWrap">
                <div class="filter">
                  <div class="value">Заправщик</div>
                  <img src="assets/images/filterArrow.png" alt="alt">
                </div>
              </div>
            </div>

            <table>
              <tr *ngFor="let item of uhot">
                <td>{{item.title}}</td>
                <td [ngClass]="{'red': item.red, 'blue': item.blue}">{{item.percent}}%</td>
                <td>
                  <p-chart width="147px" height="60px" type="line" [data]="item.data" [options]="item.options"></p-chart>
                </td>
              </tr>
            </table>

            <div class="curveWrap">
              <div class="title">График</div>
              <p-chart type="line" [data]="data"></p-chart>
              <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed metus lacinia, molestie felis sit amet, tristique nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tellus gravida massa condimentum, sit amet elementum orci dapibus.</div>
            </div>
          </div>

          <div class="tableWrap">
            <div class="head">
              <div class="name"><img src="assets/images/arrowLeft.png" alt="alt">Ритейлеры</div>
              <div class="filtersWrap">
                <div class="filter">
                  <div class="value">KPI</div>
                  <img src="assets/images/filterArrow.png" alt="alt">
                </div>
                <div class="filter">
                  <div class="value">Оператор</div>
                  <img src="assets/images/filterArrow.png" alt="alt">
                </div>
              </div>
            </div>

            <table class="territorialTable2">
              <tr *ngFor="let item of retailerTable">
                <td>{{item.name}}</td>
                <td>
                  <div [ngClass]="{'red': !item.up}" class="perc">{{item.percent}}%
                    <div [ngClass]="{'green': item.up, 'red': !item.up}" class="sup">{{item.supPercent}}%</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>MARIY NAFTA</td>
                <td>
                  <div class="perc red">40%
                    <div class="sup red">-4%</div>
                  </div>
                </td>
              </tr>
            </table>

          </div>


        </div>
      </ng-template>

      <ng-template ngSwitchCase="1">
        Template {{pageTab + 1}}
      </ng-template>
      <ng-template ngSwitchCase="2">
        Template {{pageTab + 1}}
      </ng-template>
      <ng-template ngSwitchCase="3">
        Template {{pageTab + 1}}
      </ng-template>
      <ng-template ngSwitchCase="4">
        Template {{pageTab + 1}}
      </ng-template>
    </div>
  </div>

  <!--  /inner tab  -->

</div>
