
.mainWrap {
  width: -webkit-calc(100% - 290px);
  width: calc(100% - 290px);
  margin-left: 290px;
  padding-right: 30px;
  padding-top: 31px; }

.dateInputsWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  color: #808a92;
  margin-bottom: 29px; }
.dateInputsWrap .sep {
  font-size: 14px;
  margin: 0 10px; }
.dateInputsWrap .dateInput {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
.dateInputsWrap .dateInput .calendal {
  position: relative;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #e4eaec; }
.dateInputsWrap .dateInput .calendal img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.dateInputsWrap .dateInput input {
  height: 40px;
  width: 112px;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0 14px; }

/*

PROCESSED

*/
.processedWrap {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #37474f;
  margin-bottom: 29px; }
.processedWrap .close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px; }
.processedWrap .decor {
  margin-right: 21px; }
.processedWrap .text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #ffffff; }
.processedWrap .text span {
  color: #fed300; }


/*

MAIN TABS

*/
.mainTabs {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.mainTabs .tab {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
  height: 165px;
  width: 23.5%;
  background: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
.mainTabs .tab:hover {
  background: #37474f;
  color: #ffffff; }
.mainTabs .tab:hover .tabHeader .text {
  color: #ffffff; }
.mainTabs .tab:hover .num {
  color: #ffffff; }
.mainTabs .tab .tabHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 12px; }
.mainTabs .tab .tabHeader .imgHolder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fed300;
  margin-right: 13px;
  width: 40px;
  height: 40px; }
.mainTabs .tab .tabHeader .text {
  width: -webkit-calc(100% - 53px);
  width: calc(100% - 53px);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #37474f;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
.mainTabs .tab .num {
  color: #37474f;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 15px auto; }
.mainTabs .tab .num sup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: -23px;
  padding: 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 15px;
  background: #46be8a;
  color: #ffffff; }
.mainTabs .tab .num img {
  margin: auto;
  width: 41px; }
.mainTabs .tab .desc {
  color: #a3afb7;
  font-size: 14px;
  text-align: center;
  font-weight: 100;
  font-family: "Open Sans", sans-serif; }
.mainTabs .activeTab {
  background: #37474f;
  color: #ffffff; }
.mainTabs .activeTab .tabHeader .text {
  color: #ffffff; }
.mainTabs .activeTab .num {
  color: #ffffff; }

.top1 {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.top1 .tab {
  margin-right: 2%; }
.top1 .tab:last-child {
  margin-right: 0; }


.innerTab {
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 30px; }

.innerTab {
  padding: 39px 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.innerTab .tableWrap {
  width: 49%; }
.innerTab .tableWrap .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 39px; }
.innerTab .tableWrap .head .name {
  text-transform: uppercase;
  color: #474e54;
  letter-spacing: 1px;
  font-size: 14px; }
.innerTab .tableWrap table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  color: #37474f;
  font-size: 14px; }
.innerTab .tableWrap table tr {
  border-top: 1px solid #e9eaeb;
  border-bottom: 1px solid #e9eaeb; }
.innerTab .tableWrap table tr:nth-child(odd) {
  background: #f3f7f9; }
.innerTab .tableWrap table tr td {
  padding: 20px 0; }
.innerTab .tableWrap table tr td:nth-child(1) {
  width: 8%;
  text-align: center; }
.innerTab .tableWrap table tr td:nth-child(2) {
  width: 2%;
  text-align: center; }
.innerTab .tableWrap table tr td:nth-child(2) img {
  margin: auto; }
.innerTab .tableWrap table tr td:nth-child(3) {
  width: 13%;
  text-align: center; }
.innerTab .tableWrap table tr td:nth-child(4) {
  width: 65%; }
.innerTab .tableWrap table tr td:nth-child(5) {
  width: 12%; }
.innerTab .tableWrap table tr td:nth-child(5) .perc {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
.innerTab .tableWrap table tr td:nth-child(5) .perc .sup {
  position: absolute;
  top: -7px;
  right: -30px;
  font-size: 14px; }
.innerTab .tableWrap table tr td:nth-child(5) .perc .red {
  color: #e41b13; }
.innerTab .tableWrap table tr td:nth-child(5) .perc .green {
  color: #46be8a; }
.innerTab .tableWrap table tr td:nth-child(5) .red {
  color: #e41b13; }
.innerTab .plateWrap {
  width: 49%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.innerTab .plateWrap .plate {
  border: 2px solid #fed300;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 164px;
  width: 45.8%; }
.innerTab .plateWrap .plate .center {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 48px auto 13px auto;
  font-size: 60px;
  color: #37474f;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1; }
.innerTab .plateWrap .plate .center .plus {
  position: absolute;
  top: 6px;
  right: -35px;
  font-size: 24px;
  color: #46be8a;
  font-weight: 500; }
.innerTab .plateWrap .plate .bottom {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #a3afb7;
  line-height: 1; }


/*

MULTI INNER

*/
.innerTab2 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.multiInner {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px; }
.multiInner .tableWrap {
  width: 49%; }
.multiInner .tableWrap .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.multiInner .tableWrap .head .name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #474e54;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.multiInner .tableWrap .head .name img {
  margin-right: 10px; }
.multiInner .tableWrap table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  color: #37474f;
  font-size: 14px; }
.multiInner .tableWrap table tr {
  border-top: 1px solid #e9eaeb;
  border-bottom: 1px solid #e9eaeb; }
.multiInner .tableWrap table tr:nth-child(odd) {
  background: #f3f7f9; }
.multiInner .tableWrap table tr td {
  padding: 20px 0; }
.multiInner .tableWrap table tr td:nth-child(1) {
  width: 68%;
  padding-left: 30px;
  text-align: left; }
.multiInner .tableWrap table tr td:nth-child(2) {
  width: 8%;
  text-align: left; }
.multiInner .tableWrap table tr td:nth-child(3) {
  width: 24%;
  position: relative; }
.multiInner .tableWrap table tr td:nth-child(3) img {
  width: 83%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.multiInner .tableWrap table tr .red {
  color: #e41b13; }
.multiInner .tableWrap table tr .blue {
  color: #62a8ea; }
.multiInner .curveWrap {
  width: 49%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #474e54; }
.multiInner .curveWrap .title {
  text-transform: uppercase;
  height: 40px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.multiInner .curveWrap .desc {
  color: #76838f;
  margin-top: 40px; }
.multiInner .curveWrap img {
  width: 100%;
  height: auto; }


/*

TOP 1 YELLOW TABS

*/
.top1InnerTabs .headTop1 {
  width: 100%;
  margin-bottom: 30px; }
.top1InnerTabs .headTop1 .videoTabsWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e9eaeb; }
.top1InnerTabs .headTop1 .videoTabsWrap .videoTab {
  width: 180px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #37474f; }
.top1InnerTabs .headTop1 .videoTabsWrap .active {
  background: #fed300; }


/*

MULTI TABS

*/
.multiTabsWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
.multiTabsWrap .multiTab {
  width: 15%;
  padding: 20px 20px 45px 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f1f4f5;
  border: 2px solid #f1f4f5;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
.multiTabsWrap .multiTab:hover {
  background: #ffffff;
  border: 2px solid #fed300; }
.multiTabsWrap .multiTab .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%; }
.multiTabsWrap .multiTab .top .text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #37474f;
  padding-left: 15px;
  text-transform: uppercase; }
.multiTabsWrap .multiTab .progressBar {
  position: absolute;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  left: 20px;
  bottom: 33px;
  height: 2px;
  background: #37474f; }
.multiTabsWrap .multiTab .progressBar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #46be8a; }
.multiTabsWrap .multiTab .numsWrap {
  position: absolute;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  left: 20px;
  bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
.multiTabsWrap .multiTab .numsWrap .num {
  font-size: 14px;
  color: #37474f; }
.multiTabsWrap .multiTab .numsWrap img {
  margin-right: 10px; }
.multiTabsWrap .multiTabActive {
  background: #ffffff;
  border: 2px solid #fed300; }

/*

INNER TAB FILTERS

*/

.filtersWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.filtersWrap .filter {
  margin-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 142px;
  height: 40px;
  background: #e4eaec;
  padding: 0 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #808a92;
  z-index: 10;
  position: relative; }
.filtersWrap .filter:last-child {
  margin-right: 0; }

/*

TERRITORIAL 2

*/
.territorial2Inner .tableWrap .head .name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.territorial2Inner .tableWrap .head .name img {
  margin-right: 10px; }

.territorial2Inner .tableWrap .curveWrap {
  width: 100%; }
.territorial2Inner .tableWrap .curveWrap .title {
  margin-top: 30px; }

.territorial2Inner .tableWrap:last-child table tr td {
  padding: 20px 0; }
.territorial2Inner .tableWrap:last-child table tr td:nth-child(1) {
  width: 86% !important;
  text-align: left !important;
  padding-left: 30px; }
.territorial2Inner .tableWrap:last-child table tr td:nth-child(2) {
  width: 14% !important; }
.territorial2Inner .tableWrap:last-child table tr td:nth-child(2) .perc {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
.territorial2Inner .tableWrap:last-child table tr td:nth-child(2) .perc .sup {
  position: absolute;
  top: -7px;
  right: -30px;
  font-size: 14px; }
.territorial2Inner .tableWrap:last-child table tr td:nth-child(2) .perc .red {
  color: #e41b13; }
.territorial2Inner .tableWrap:last-child table tr td:nth-child(2) .perc .green {
  color: #46be8a; }
.territorial2Inner .tableWrap:last-child table tr td:nth-child(2) .red {
  color: #e41b13; }
